<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="btn btn-default navbar-btn back-btn" ui-sref="home" style="padding: 6px 8px;">
                <span class="glyphicon glyphicon-menu-left back-left" aria-hidden="true"></span>返回
            </button>
            <span class="navbar-brand">历史采购单信息</span>
        </div>
    </div>
</nav>

<div class="container-fluid" id="history-page">
	<div class="row form-row">
		<div class="col-lg-12">
			<form rol="form" class="form-inline">
				<div class="form-group">
	                <input type="text" class="form-control" placeholder="起始时间" datepicker-popup="{{format}}" ng-model="startDate" is-open="openedStart" datepicker-options="dateOptions" current-text="今日" clear-text="清除" close-text="关闭" ng-click="openStart($event)" style="height: 42px;"/>
	            </div>
	            <div class="form-group">
	                <input type="text" class="form-control" placeholder="结束时间" datepicker-popup="{{format}}" ng-model="endDate" is-open="openedEnd" datepicker-options="dateOptions" current-text="今日" clear-text="清除" close-text="关闭" ng-click="openEnd($event)" style="height: 42px;"/>
	            </div>
	            <div class="row">
	            	<button type="button" class="btn btn-primary btn-lg search-btn" ng-click="resetPageAndSearch()">
		            	<span class="glyphicon glyphicon-search back-left" aria-hidden="true" style="margin-right: 6px;top:3px;"></span>查询
		            </button>
	            </div>
			</form>
		</div>
	</div>

	<div class="row">
	    <div class="col-lg-12 dataTable_wrapper">
	     	<table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th class="text-vertical-center">产品名称</th>
                        <th class="text-vertical-center" style="width: 16%;">需求数量</th>
                        <th class="text-vertical-center" style="width: 16%;">实际数量</th>
                        <th class="text-vertical-center">总金额</th>
                    </tr>
                </thead>
             	<tbody>
             		<tr ng-repeat="historyPurchaseList in historyPurchaseLists" ng-if="historyPurchaseLists.length > 0">
                        <td>{{historyPurchaseList.name}}</td>
                        <td class="text-vertical-center">
                            <span ng-if="historyPurchaseList.needBundleQuantity !== 0">{{historyPurchaseList.needBundleQuantity}}{{historyPurchaseList.bundleUnit}}</span>
                            <span ng-if="historyPurchaseList.needSingleQuantity !== 0">{{historyPurchaseList.needSingleQuantity}}{{historyPurchaseList.singleUnit}}</span>
                        </td>
                        <td class="text-vertical-center">
                            <span ng-if="historyPurchaseList.purchaseBundleQuantity !== 0">{{historyPurchaseList.purchaseBundleQuantity}}{{historyPurchaseList.bundleUnit}}</span>
                            <span ng-if="historyPurchaseList.purchaseSingleQuantity !== 0">{{historyPurchaseList.purchaseSingleQuantity}}{{historyPurchaseList.singleUnit}}</span>
                        </td>
                        <td class="text-vertical-center">{{historyPurchaseList.total | currency:"￥"}}</td>
                    </tr>
             	</tbody>
            </table>
	    </div>
	</div>

	<div class="row" align="center" ng-if="historyPurchaseLists.length > 0">
        <div calss="col-lg-12">
            <pagination total-items="page.totalItems" ng-model="page.currentPage" items-per-page="page.itemsPerPage" max-size="3" class="pagination" boundary-links="true" ng-change="pageChanged()" first-text="首页" last-text="尾页" previous-text="上一页" next-text="下一页"></pagination>
        </div>
    </div>

    <div class="row" ng-if="historyPurchaseLists.length === 0">
        <p class="no-order-tip" style="margin-top: 30%;">
            <span class="glyphicon glyphicon-alert" aria-hidden="true" style="top: 2px; padding-right: 5px;"></span>暂无历史采购单信息
        </p>
    </div>

    <div class="spinner-page" ng-if="showLoading === true">
        <div class="spinner-container container1">
            <div class="circle1"></div>
            <div class="circle2"></div>
            <div class="circle3"></div>
            <div class="circle4"></div>
        </div>
        <div class="spinner-container container2">
            <div class="circle1"></div>
            <div class="circle2"></div>
            <div class="circle3"></div>
            <div class="circle4"></div>
        </div>
        <div class="spinner-container container3">
            <div class="circle1"></div>
            <div class="circle2"></div>
            <div class="circle3"></div>
            <div class="circle4"></div>
        </div>

        <p>加载中...</p>
    </div>
</div>

<!-- <div class="back-top-box">
	<span class="glyphicon glyphicon-arrow-up" aria-hidden="true" style="top: 6px;left: -1px;">
</div> -->