<div class="container">
    <div class="row">
        <br>
        <br>
        <br>
        <div class="col-md-6 col-md-offset-3">
            <div class="login-panel panel panel-default panel-lg">
                <div class="panel-heading" align="center" style="padding: 14px 15px;">
                    <h2 class="panel-title" style="font-size: 17px;">
                        <strong>餐馆无忧（供应商版）</strong>
                    </h2>
                </div>
                <div class="panel-body">
                    <form role="form" ng-submit="login(user)">
                        <fieldset>
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="glyphicon glyphicon-user"></i>
                                    </span>
                                    <input class="form-control input-lg" placeholder="用户名" name="username" ng-model="user.username" type="text" autofocus autocomplete>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="glyphicon glyphicon-lock"></i>
                                    </span>
                                    <input class="form-control input-lg" placeholder="密码" name="password" ng-model="user.password" type="password" autocomplete>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-lg btn-primary btn-block" ng-disabled="isLoginState">
                                <span ng-if="!isLoginState">登&nbsp;&nbsp;录</span>
                                <span ng-if="isLoginState">正在登录...</span>
                            </button>
                            <button type="button" class="btn btn-lg btn-default btn-block" ng-click="reset()" style="border-color: #286090;margin-top: 10px;">重&nbsp;&nbsp;置</button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>