/*公共样式*/
body {
    padding-top: 70px;
    -webkit-appearance: none;
}
a, button {
    /*-webkit-tap-highlight-color: rgba(0,0,0,0);*/
    -webkit-tap-highlight-color: transparent;
}
input::-webkit-input-speech-button {
    display: none;
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    box-shadow:inset 0 0 0 1000px #fff;
}
input[type=checkbox], input[type=radio] {
    -webkit-transform: scale(1.8,1.8);
}
.col-lg-12 {
	padding-right: 1px;
    padding-left: 1px;
}
.help-block {
    margin-bottom: -5px;
}
.panel-heading {
	padding-left: 8px;
    padding-right: 8px;
}
#lblMsgConfirmYesNo, #alertMsg {
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 18px;
}
.modal-footer {
    padding-top: 10px;
    padding-bottom: 10px;
}
#btnNoConfirmYesNo, #btnYesConfirmYesNo, #alertBtn {
    padding: 8px 18px;
    font-size: 15px;
}
.alert {
    padding: 20px;
    font-size: 25px;
    text-align: center;
}
.back-left {
    top: 2px;
}
.back-btn {
	margin-left: 10px;
    float: left;
}
.refresh-btn {
    margin-right: 10px;
    float: right;
}
#loading-bar .bar {
    background-color: #286090;
    height: 3px;
}
#loading-bar .peg {
    -webkit-box-shadow: #286090 1px 0 6px 1px;
    box-shadow: #286090 1px 0 6px 1px;
}
#loading-bar-spinner {
    display: none;
}

/*自定义样式*/
.home-row {
    text-align: center; 
    margin-bottom: 8px;
}
.home-row .glyphicon {
    top: 2px;
}
.no-order-tip {
    text-align: center;
    font-size: 19px;
    margin-top: 40%;
}
.version {
    position: absolute;
    bottom: 8px;
    text-align: center;
    width: 100%;
}
.text-vertical-center {
    vertical-align: middle !important;
    text-align: center;
}
.nav-tabs.nav-justified>li {
    float: none;
    display: table-cell;
    width: 1%;
}
.nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:focus, .nav-tabs.nav-justified>.active>a:hover {
    border: 1px solid #ddd;
}
.nav>li.active>a {
    text-decoration: none;
    background-color: #eee;
}
.nav-tabs.nav-justified>li>a {
    border-bottom: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
}
.nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:focus, .nav-tabs.nav-justified>.active>a:hover {
    border-bottom-color: #fff;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #337ab7;
}
a {
    color: #555;
    text-decoration: none;
}
.tab-content {
    margin-top: 6px;
}
.feedback-textarea {
    width: 96%;
    margin: 0 auto;
}
.feedback-commit-btn {
    text-align: center; 
    margin: 10px -15px;
}
.add-img-pic {
    width: 85px;
    height: 85px;
    overflow: hidden;
    float: left;
    margin: 12px 10px 20px;
}
.add-img-pic img {
    width: 100%;
}
.feedback-img-tip {
    line-height: 104px;
    margin-left: 95px;
    font-size: 15px;
    color: #969696;
}
.form-group label {
    font-size: 15px;
}
#modify-password {
    padding: 0 12px;
}
.input-lg {
    height: 44px;
    padding: 8px 14px;
    font-size: 16px;
}
.bs-callout {
    padding: 6px;
    margin: 8px 6px;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout-info {
    border-left-color: #337ab7;
}
.bs-callout-info h5 {
    margin-top: 6px;
    margin-bottom: 6px;
    color: #337ab7;
}
.form-row {
    margin: -5px -6px 14px;
}
.search-btn {
    width: 92%;
    padding: 8px 16px;
}
.form-inline .row {
    text-align: center;
}
.dropdown-menu {
    margin: 1px 0 0;
}
.back-top-box {
    width: 40px;
    height: 40px;
    background-color: #337ab7;
    border-radius: 50%;
    position: fixed;
    bottom: 16px;
    right: 16px;
    opacity: 0.9;
    color: #fff;
    text-align: center;
    font-size: 24px;
}
.back-top-box:active {
    opacity: 1;
}
.action-sheet-backdrop {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    z-index: 1030;
    top: 0;
    left: 0;
    transition: background-color 150ms ease-in-out;
    -webkit-transition: background-color 150ms ease-in-out;
    pointer-events: auto;
    display: none;
}
.action-sheet-wrapper {
    -webkit-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0);
    -webkit-transition: all cubic-bezier(.36,.66,.04,1) 500ms;
    transition: all cubic-bezier(.36,.66,.04,1) 500ms;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    margin: auto;
}
.action-sheet-up {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.action-sheet {
    width: auto;
    margin: 0;
    z-index: 1031;
    overflow: hidden;
}
.action-sheet-group {
    margin: 10px 0 0;
    border-radius: 6px;
    background-color: #fafafa;
    overflow: hidden;
}
.button {
    -webkit-appearance: button;
    font-weight: 400;
    position: relative;
    margin: 0;
    min-height: 47px;
    min-width: 52px;
    border: none;
    vertical-align: top;
    text-overflow: ellipsis;
    line-height: 42px;
    cursor: pointer;
    width: 100%;
    display: block;
    padding: 1px;
    background: transparent;
    font-size: 18px;
    text-align: center;
}
button.button:active {
    background-color: #D9D9D9;
}
.panel-heading>span {
    display: block;
    float: right;
    color: #286090;
}
#history-page .spinner-page {
    margin-top: 30%;
}
.pagination>li>a, .pagination>li>span {
        padding: 6px 10px;
}

/*Loading*/
.spinner-page {
    display: block !important;
}
.spinner-page {
    margin: 60% auto;
    width: 32px;
    height: 32px;
    position: relative;
}
.spinner-page p {
    font-size: 15px;
    width: 70px; 
    text-align: center;
    padding-top: 48px;
    margin-left: -14px;
}
.container1 > div, .container2 > div, .container3 > div {
    width: 6px;
    height: 6px;
    background-color: #286090;
    border-radius: 100%;
    position: absolute;
  
    -webkit-animation: bouncedelay 1.1s infinite ease-in-out;
    animation: bouncedelay 1.1s infinite ease-in-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
} 
.spinner-page .spinner-container {
    position: absolute;
    width: 100%;
    height: 100%;
}
.container2 {
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}
.container3 {
    -webkit-transform: rotateZ(90deg);
    transform: rotateZ(90deg);
}
.circle1 { top: 2px; left: 2px; }
.circle2 { top: 2px; right: 2px; }
.circle3 { right: 2px; bottom: 2px; }
.circle4 { left: 2px; bottom: 2px; }
 
.container2 .circle1 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}
.container3 .circle1 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}
.container1 .circle2 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}
.container2 .circle2 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}
.container3 .circle2 {
    -webkit-animation-delay: -0.7s;
    animation-delay: -0.7s;
}
.container1 .circle3 {
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
}
.container2 .circle3 {
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}
.container3 .circle3 {
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
}
.container1 .circle4 {
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s;
}
.container2 .circle4 {
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s;
}
.container3 .circle4 {
    -webkit-animation-delay: -0.1s;
    animation-delay: -0.1s;
}
@-webkit-keyframes bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0.0) }
    40% { -webkit-transform: scale(1.0) }
}
@keyframes bouncedelay {
    0%, 80%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 40% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}
